.Img {
    width: 100vw;
    max-width: 700px;
}

.Img img {
    width: 100%;
}

.Baixe-app {
    padding-top: 200px;
}

.Baixe-app-font {
    font-size: 30px;
}

.Not-Found {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    
}

.Component-Buttons {
    display: flex;
    flex: 1;
    width: 45vw;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;
}

.App-Button {
    display: flex;
    background-color: #182a4e;
    color: #fff;
    width: 150px;
    padding: 10px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 10px;
}

.App-Button:hover {
    background-color: #fff;
    color: #182a4e;
}

.Intro-font {
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    color: #3b414d;
}

.Slider-img {
    height: 600px;
}

@media(max-width:950px) {
    .Intro-font {
        font-weight: bold;
        font-size: 7vw;
        color: #3b414d;
    }
    .Slider-img {
        height: 200px;
    }
    .Component-Buttons {
        display: flex;
        flex-direction: column;
    }
}