  .App-bar {
    background-color: #182a4e;
  }

  .App-bottom {
    position: fixed;
    height: 50px;
    background-color: #182a4e;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }


  .Header-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
