.Intro-Component {
    display: flex;
    padding-top: 10vh;
    flex: 1;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Mobile-Image{
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    height: 60vw;
    width: 60vw;
    align-items: center;
    justify-content: center;
    border: solid #182a4e;
    animation-duration: 2s;
    animation-name: mobileAnimation;
}

.Intro-View {
    display: flex;
    flex: 1;
    width: 90vw;
    border: solid #182a4e;
    border-radius: 110px;
    overflow: hidden;
    background-color: #182a4e;
    justify-content: space-between;
    align-items: center;
    animation-duration: 3s;
    animation-name: openGate;
}

.Mobile-Intro {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

@keyframes openGate {
    from {
        width: 60vw;
    }
    to {
        width: 90vw;
    }
}

@keyframes mobileAnimation {
    from {
        width: 0vw;
        height: 0vw;
    }
    to {
        width: 60vw;
        height: 60vw;
    }
}

.Button-View {
    padding: 10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}

.Mobile-Button-View {
    padding: 10px;
    color: #182a4e;
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
}

.Car-Component {}

.Image-Component {
    overflow: hidden;
}

.Car-Image {
    height: 20vw;
    width: 30vw;
    
}

.Mobile-Car {
    height: 60vw;
    width: 118vw;
}

[image=inverted] {
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}