.Footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10vh;
    height: 280px;
    width: 100vw;
    background-color: #182a4e;
    color: #fff;
}

.BackToTop {
    display: flex;
}

.Button-Top {
    cursor: pointer;
}

.Display-Row {
    flex: 10;
    display: flex;
    align-items: center;
}

.Flex-Um {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.Component-Locdata {
    text-align: end;
}

.Title-Footer {
    font-weight: bold;
    font-size: 18px;
}

.Subtitle-Footer {
    color: rgb(192, 192, 192);
    font-size: 14px;
}

.Subtitle-Footer:hover {
    color: rgb(238, 238, 238);
}

.Logo-Image {
    width: 130px;
}

[conteudo=bottom] {
    display: flex;
    flex: 1;
}

[logo=bottom] {
    max-height: 50px;
    max-width: 50px;
}

.Bottom-bar {
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    display: flex;
    width: 100vw;
    height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.Bottom-selected {
    background-color: #fff;
    color: #182a4e;
    flex: 1;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Bottom-selected:visited {
    color: #182a4e
}

.Bottom-item {
    background-color: #182a4e;
    color: #fff;
    flex: 1;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Bottom-text {
    font-weight: bold;
}

@media(max-width:800px) {
    .Footer {
        height: 550px;
    }
    .Display-Row {
        flex-direction: column;
        text-align: center;
    }
    .Component-Locdata {
        text-align: center;
    }
    .Flex-Um {
        margin-top: 20px;
    }
}