.Img-component{
    width: 10vw;
    height: 10vw;
    border: solid #182a4e;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    cursor: pointer;
}

.Insurance-row{
    display: flex;
    flex: 1;
}

.Insurance-component{
    margin-top: 5vh;
    display: block;
  }

.Insurance-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.Insurance-item{
    color: black;
}


/* .Insurance-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
} */

.Insurance-text{
    text-align: center;
    font-size: 1vw;
}

.Insurance-img {
    width: 15vw;
    height: 10vw;
    transition: 0.3s;
}

.Insurance-img:hover {
    width: 16vw;
    height: 11vw;
}

.Insurance-item:hover{
    color: #182a4e;
}