.Social {
    padding-top: 100px;
    display: flex;
    color: #182a4e;
    flex: 1;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.Socials {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Social-font {
    font-weight: bold;
    font-size: 30;
}

.Social-item {
    margin-top: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.Social-button {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 3.5vw;
    overflow: hidden;
}

[social=Whats]{
    background-color: #25D366;
}

[social=Face]{
    background-color: #3b5998;
}

[social=Insta]{
    background-color: #5851DB;
}