* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Row-adjust{
  display: flex;
}

html, body, #root {
  min-height: 100%;
  background: #f2f2f2;
}

.App-content {
  flex: 1;
  padding-top: 6.9vw;
  width: 100%;
}

.App-content-mobile {
  flex: 1;
  margin-bottom: 70px;
  padding-top: 6.9vw;
  width: 100%;
}


.App-bar {
  background-color: #182a4e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Header-links {
  flex: 1;
  justify-content: flex-end;
}



[logo=top] {
  width: 50vw;
  max-width: 400px;
}


[link=bottom] {
  color: white;
}

[image=aboutUs] {
  width: 40vw
}

.About-Us {
  display: flex;
  flex-direction: column
}

.About-App {
  display: flex;
  padding-top: 10vh;
  flex: 1;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.Insurance {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Insurance-component {
  display: none;
  width: 100%;
  background-color: "red";
}

.Insurance-categorie {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.LiberoSecurityCard {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 67px;
  background-color: #182a4e;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.Ins-Box {
  border-style: solid;
  background-color: #E2DEDE;
  background: #FFF;
}

.LiberoSecurityCard p {
  font-size: 80%;
  text-align: center;
  font-weight: bold;
}

.LiberoSecurityCard:hover {
  background-color: #fff;
  color: #182a4e;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Intro-font-component {
  width: 100vw;
}

.Insurance-card {
  color: #FFF;
 /*  flex-direction: column;
  display: flex; */
  position: relative;
  padding: 8px 2px 8px 8px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 250px;
  min-height: 250px;

  /*background-image: url("https://blog.benner.com.br/hubfs/medico%20especialista.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .5s ease;
  /* background-color: rgba(127,210,221,1); */
 }
 .Insurance-card-text {
  margin-top: 10;
}

.card-topic {
  display: inline-block;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 20px;
  font-family: 'Source Sans Pro', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,'Lucida Grande', sans-serif;
  margin-bottom: 30px;
  /*
  text-decoration: none; */
  transition: all .5s ease;
}

.card-topic:hover {
  color: #000;
  background-color: #FFF;
  text-decoration: none;
}

.card-content {
  position: relative;
  z-index: 3;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color:rgba(75,76,77,0.8);
  user-select: none;
  z-index: 2;
  transition: all .5s ease;
}


@media(max-width:700px) {
  .Insurance-categorie {
    display: flex;
    flex-direction: column;
  }
  .App-content{
    padding-top: 10vw;
  }
  .Insurance {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .LiberoSecurityCard {
    height: 80px;
    width: 80px;
  }
  .LiberoSecurityCard p {
    font-size: 48%;
    text-align: center;
  }
  .Responsive-Text {
    color: #182a4e;
    font-size: 4vw;
  }
  .Insurance-component{
    display: block;
  }
  .Insurance-card {
    display: none;
  }
}


.DesktopIcon-Flemis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DesktopIcon {
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  background-color: #182a4e;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.Ins-Box {
  border-style: solid;
  background-color: #E2DEDE;
  background: #FFF;
}

.DesktopIcon p {
  font-size: 80%;
  text-align: center;
  font-weight: bold;
}

.DesktopIcon:hover {
  background-color: #fff;
  cursor: pointer;
  color: #182a4e;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}